<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>南昌</string>
		<key>code</key>
		<string>25758492</string>
	</dict>
    <dict>
        <key>name</key>
        <string>成都</string>
        <key>code</key>
        <string>25758632</string>
    </dict>
    <dict>
        <key>name</key>
        <string>济南</string>
        <key>code</key>
        <string>25758422</string>
    </dict>
    <dict>
        <key>name</key>
        <string>长沙</string>
        <key>code</key>
        <string>25758352</string>
    </dict>
    <dict>
        <key>name</key>
        <string>太原</string>
        <key>code</key>
        <string>25758282</string>
    </dict>
    <dict>
        <key>name</key>
        <string>郑州</string>
        <key>code</key>
        <string>25758212</string>
    </dict>
    <dict>
        <key>name</key>
        <string>昆明</string>
        <key>code</key>
        <string>25758702</string>
    </dict>
    <dict>
        <key>name</key>
        <string>石家庄</string>
        <key>code</key>
        <string>25758772</string>
    </dict>
    <dict>
        <key>name</key>
        <string>武汉</string>
        <key>code</key>
        <string>25758842</string>
    </dict>
    <dict>
        <key>name</key>
        <string>南京</string>
        <key>code</key>
        <string>25758982</string>
    </dict>
    <dict>
        <key>name</key>
        <string>泰州</string>
        <key>code</key>
        <string>25759052</string>
    </dict>
    <dict>
        <key>name</key>
        <string>福州</string>
        <key>code</key>
        <string>25759122</string>
    </dict>
    <dict>
        <key>name</key>
        <string>九江</string>
        <key>code</key>
        <string>25759192</string>
    </dict>
    <dict>
        <key>name</key>
        <string>沈阳</string>
        <key>code</key>
        <string>25759262</string>
    </dict>
    <dict>
        <key>name</key>
        <string>重庆</string>
        <key>code</key>
        <string>25759332</string>
    </dict>
    <dict>
        <key>name</key>
        <string>乌鲁木齐</string>
        <key>code</key>
        <string>25758912</string>
    </dict>
    <dict>
        <key>name</key>
        <string>赤峰</string>
        <key>code</key>
        <string>25759402</string>
    </dict>
    <dict>
        <key>name</key>
        <string>宜春</string>
        <key>code</key>
        <string>25759542</string>
    </dict>
</array>
</plist>
